@charset "UTF-8";
@import url(base.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px;
  font-family: "宋体",sans-serif; }

body {
  background-color: #DBDBDB; }

.head {
  width: 100%;
  background-color: #29A6DC;
  padding: 0 0.24rem;
  box-sizing: border-box; }
  .head .state {
    width: 100%;
    height: 0.49rem;
    background: url(../img/one/state.png) center/contain no-repeat; }
  .head .itemBox {
    height: 0.8rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .head .itemBox .return {
    width: 0.44rem;
    height: 0.44rem;
    border-radius: 50%;
    background: #fff url(../img/three/return.png) center/0.1rem 0.17rem no-repeat;
    border: 2px solid #076CBE; }
  .head .itemBox .search {
    width: 5.45rem;
    height: 0.54rem;
    border-radius: 0.27rem;
    overflow: hidden;
    display: flex; }
    .head .itemBox .search .img {
      width: 0.57rem;
      background: #F5F5F5 url(../img/two/search.png) center/0.27rem 0.27rem no-repeat; }
    .head .itemBox .search input {
      font-size: 0.22rem;
      color: #666;
      padding-left: 0.12rem;
      border: none;
      outline: none;
      background-color: #F6F6F6;
      box-shadow: 8px 0 20px #000;
      flex: 1; }
  .head .itemBox .screen {
    width: 0.44rem;
    height: 0.44rem;
    border-radius: 50%;
    background: #fff url(../img/three/screen.png) center 0.1rem/0.25rem 0.25rem no-repeat;
    border: 2px solid #076CBE; }
  .head .itemBox .shadow {
    width: 7.5rem;
    height: 8.99rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 100%;
    left: -0.24rem;
    z-index: 1;
    display: none; }
  .head .itemBox .screenBox {
    width: 7.5rem;
    background-color: #fff;
    padding: 0 0.45rem;
    border-radius: 0 0 0.5rem 0.5rem;
    position: absolute;
    top: 100%;
    left: -0.24rem;
    z-index: 1;
    display: none; }
  .head .itemBox .screenBox .choise {
    width: 100%;
    height: 1.16rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .head .itemBox .screenBox .choise .choiseBox {
      width: 75%;
      height: 0.84rem;
      border-radius: 0.5rem;
      padding: 0.08rem 0.1rem;
      margin: 0 auto;
      background-color: #2A3441;
      display: flex;
      justify-content: space-between; }
    .head .itemBox .screenBox .choise .sort {
      width: 45%;
      height: 100%;
      border-radius: 0.5rem;
      position: relative;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .head .itemBox .screenBox .choise .sort span:nth-child(1) {
        font-size: 0.22rem;
        color: #fff;
        text-align: center; }
      .head .itemBox .screenBox .choise .sort span:nth-child(2) {
        font-size: 0.12rem;
        color: #A0CFE5;
        text-align: center; }
      .head .itemBox .screenBox .choise .sort .points {
        width: 1.2rem;
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        display: none; }
        .head .itemBox .screenBox .choise .sort .points li {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #fff; }
        .head .itemBox .screenBox .choise .sort .points .point1, .head .itemBox .screenBox .choise .sort .points .point2 {
          float: left; }
        .head .itemBox .screenBox .choise .sort .points .point3, .head .itemBox .screenBox .choise .sort .points .point4 {
          float: right; }
        .head .itemBox .screenBox .choise .sort .points .point1 {
          margin-right: 3px; }
        .head .itemBox .screenBox .choise .sort .points .point3 {
          margin-left: 3px; }
    .head .itemBox .screenBox .choise .sort.active {
      background-color: #29A6DC;
      border: 0.02rem solid #fff; }
      .head .itemBox .screenBox .choise .sort.active .points {
        display: block; }
    .head .itemBox .screenBox .choise .division {
      width: 0.03rem;
      height: 100%;
      padding: 0.04rem 0;
      margin: 0 0.18rem;
      background: url(../img/four/division.png) no-repeat center/contain; }
  .head .itemBox .screenBox .block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.2rem 0; }
    .head .itemBox .screenBox .block li {
      width: 1.74rem;
      height: 0.44rem;
      border-radius: 0.22rem;
      border: 1px solid #2A3441;
      margin-bottom: 0.35rem;
      font-size: 0.24rem;
      color: #2A3441;
      text-align: center;
      line-height: 0.4rem; }
    .head .itemBox .screenBox .block li.active {
      background-color: #29A6DC;
      color: #fff;
      border: none; }

.content {
  padding: 0.1rem 0.25rem;
  margin-top: 0.16rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between; }
  .content .left {
    width: 2.46rem;
    height: 3.49rem;
    background: url(../img/three/content01.png) center/cover no-repeat; }
  .content .right {
    width: 4.18rem;
    display: flex;
    flex-direction: column;
    position: relative; }
  .content .right .partOne {
    width: 100%; }
    .content .right .partOne h1 {
      font-size: 0.28rem;
      color: #333; }
    .content .right .partOne span {
      display: block;
      font-size: 0.16rem;
      color: #999;
      padding: 0.05rem 0 0.15rem 0; }
    .content .right .partOne p {
      height: 1.16rem;
      font-size: 0.22rem;
      color: #666;
      padding-right: 0.35rem;
      overflow: hidden; }
  .content .right .partTwo {
    width: 100%;
    padding-top: 0.35rem;
    flex: 1;
    display: flex;
    flex-direction: column; }
    .content .right .partTwo span {
      font-size: 0.2rem;
      color: #666; }
    .content .right .partTwo .remark {
      flex: 1;
      display: flex;
      align-items: center; }
    .content .right .partTwo .remark .star {
      width: 0.25rem;
      height: 0.23rem;
      background: url(../img/three/star.png) center/contain no-repeat;
      margin-right: 2px; }
    .content .right .partTwo .remark .star.dark {
      width: 0.25rem;
      height: 0.23rem;
      background: url(../img/three/star_.png) center/contain no-repeat; }
  .content .right .button {
    width: 1.84rem;
    height: 0.57rem;
    border-radius: 0.3rem;
    background-color: #29A6DC;
    padding: 0 0.08rem;
    position: absolute;
    bottom: 0.2rem;
    right: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .content .right .button .point {
      width: 0.06rem;
      height: 0.06rem;
      border-radius: 50%;
      background-color: #fff; }
    .content .right .button .detail {
      height: 100%;
      background: url(../img/three/button.png) left center/0.22rem 0.2rem no-repeat;
      font-size: 0.18rem;
      color: #fff;
      line-height: 0.57rem;
      padding-left: 0.25rem; }

.foot {
  width: 100%;
  height: 1rem;
  background-color: #151C2B;
  padding: 0.02rem 0;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex; }
  .foot .item {
    height: 100%;
    padding: 0 0 0.05rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1; }
    .foot .item span {
      color: #646567;
      font-size: 0.24rem;
      text-align: center; }
  .foot .division {
    width: 1px;
    height: 100%;
    background-color: #717171; }
  .foot .item:nth-child(1) {
    background: url(../img/one/foot01.png) no-repeat center 0.08rem/0.46rem 0.44rem; }
  .foot .item:nth-child(3) {
    background: url(../img/one/foot02.png) no-repeat center 0.08rem/0.44rem 0.44rem; }
  .foot .item:nth-child(5) {
    background: url(../img/one/foot03.png) no-repeat center 0.08rem/0.44rem 0.46rem; }
