@import "mixin";
@import url(base.css);
$device: 320px,360px,375px,414px,750px;
html{
	@each $i in $device{
		@media screen and(min-width: #{$i}){
			font-size: 100*($i/750);
		}
	}
}
body{
	font-size: 16px;
}
.header{
	width: 100%;
	height: 1.4rem;
	display: flex;
	background: #29a6dc;
	flex-direction:column;
	justify-content: center;
	.top{
		width: 7.03rem;
		height: .2rem;
		margin: 0 auto;
		background: url(../img/top.png)no-repeat center center;
		background-size: cover;
	}
	.main{
		width: 93.6%;
		margin: 0 auto;
		height: 0.81rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	.left{
		width: .46rem;
		height: .46rem;
		border-radius: 50%;
		background: #fff url(../img/left.png) no-repeat center center/.1rem .17rem;
	}
	.right{
		width: 1.12rem;
		height: .46rem;
		display: flex;
		justify-content: space-between;
	}
	.L{
		width:.38rem;
		height: 100%;
		background: url(../img/shuqian.png)no-repeat bottom center/.34rem .34rem;
	}
	.R{
		width: .46rem;
		height: .46rem;
		border-radius: 50%;
		background: #fff url(../img/right.png) no-repeat center center/.2rem .21rem;
	}
}
.title{
	width: 100%;
	background:#ffe7a7; 
	h1{
		width: 90%;
		margin: 0 auto;
		display: block;
		background: #ffe7a7;
		line-height: .6rem;
		font-size: .3rem;
		font-weight: 100;
		font-family: '微软雅黑';
	}			
}
.neirong{
	height: 9.16rem;
	background: #ffe7a7;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	p{
		width: 80%;
		display: block;
		margin: 0 auto;
		text-indent:.4rem;
		font-size: .2rem;
		line-height: .3rem;
		font-weight: 100;
		font-family: '微软雅黑';

	}
	.sq{
		position: absolute;
		right: 0;
		top: 40%;
		width: .98rem;
		height: .78rem;
		background: url(../img/sq.png)no-repeat center center;
		background-size: cover;
	}
	.yl{
		opacity: .5;
		position: absolute;
		left: 5%;
		bottom: 15%;
		width: .58rem;
		height: .58rem;
		background: url(../img/yl.png)no-repeat center center;
		background-size: cover;
	}
}
.foot{
	width: 100%;
	height: 2.77rem;
	background: #151c2b;
	display: flex;
	justify-content: center;
	.main{
		width: 6.54rem;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	span{
			font-size: .2rem;
			color: #fff;
		}
	.top{
		width: 100%;
		height: 25%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.pic1{
			width:5.18rem;
			height: .26rem;
			background: url(../img/pic1.png) no-repeat bottom center/5.18rem .26rem;
		}		
	}
	.center{
		width: 100%;
		height: 25%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.pic2{
			width:5.18rem;
			height: .26rem;
			background: url(../img/pic2.png) no-repeat bottom center/5.18rem .26rem;
		}		
	}
	.bottom{
		width: 100%;
		height: 45%;
		display: flex;
		justify-content:space-between;
		.pic3{
			width: 5.72rem;
			height: .86rem;
			display: flex;
			justify-content: space-between;
			text-align: center;
			div{
				width: .66rem;
				height:100%;
				display: flex;
				flex-direction: column;
			}
			span{
				font-size: .12rem;
			}
			.bj{
				width: .6rem;
				height: .6rem;
				flex-shrink: 0;
			}
			.bj1{
				background: #fcf3db;
			}
			.bj2{
				background: #ffe9b0;
			}
			.bj3{
				background: #d8a764;
			}
			.bj4{
				background: #3876ac;
			}
			.bj5{
				background: #21858e;
			}
			.bj6{
				background: #f4c5d4;
			}
			.bj7{
				background: #79d143;
			}
			.bj8{
				background: #fff url(../img/jia.png)no-repeat center center;
			}
		}		
	}

}