@import url(base.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

.header {
  width: 100%;
  height: 1.4rem;
  display: flex;
  background: #29a6dc;
  flex-direction: column;
  justify-content: center; }
  .header .top {
    width: 7.03rem;
    height: .2rem;
    margin: 0 auto;
    background: url(../img/top.png) no-repeat center center;
    background-size: cover; }
  .header .main {
    width: 93.6%;
    margin: 0 auto;
    height: 0.99rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; }
  .header .left {
    width: .66rem;
    height: .82rem;
    display: flex;
    align-items: center; }
    .header .left .pop {
      width: .46rem;
      height: .46rem;
      border-radius: 50%;
      background: #fff url(../img/left.png) no-repeat center center/0.1rem 0.17rem; }
  .header .right {
    width: 5.73rem;
    height: .82rem;
    display: flex;
    border-radius: .4rem;
    background: #2a3441;
    justify-content: space-around;
    align-items: center; }
    .header .right div {
      width: 1.63rem;
      height: .7rem;
      border-radius: .4rem;
      text-align: center; }
      .header .right div h1 {
        font-size: .22rem;
        font-weight: 300;
        height: .5rem;
        line-height: .6rem;
        color: #fff; }
      .header .right div p {
        font-size: .12rem;
        line-height: 0rem;
        color: #fff; }
    .header .right .c {
      border: 2px solid #fff;
      background: #29a6dc;
      /*background:url(../img/qwe.png)no-repeat center center;
			background-size: cover;*/ }
    .header .right span {
      height: .7rem;
      width: .02rem;
      background: url(../img/shu.png) no-repeat center center;
      background-size: cover; }

.content {
  height: 10.7rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .content .top {
    width: 100%;
    height: .49rem;
    background: #e5e5e5;
    text-align: center;
    line-height: .49rem; }
  .content .main {
    width: 6.5rem;
    height: 10.17rem;
    display: flex;
    flex-direction: column;
    /*align-items:flex-start;*/
    /*justify-content: center;*/ }
  .content .nr {
    width: 100%;
    height: 1.14rem;
    border-bottom: 1px dashed #000;
    display: flex; }
  .content .nr:nth-child(2) {
    width: 7.5rem;
    margin-left: -.5rem;
    /*background: #29dcbc;*/
    border-bottom: 2px solid #29dcbc;
    background: url(../img/dj.png) no-repeat center center;
    background-size: cover; }
    .content .nr:nth-child(2) .dj {
      width: 5.71rem;
      height: 100%;
      margin-left: .5rem;
      display: flex;
      color: #fff; }
      .content .nr:nth-child(2) .dj h1 {
        font-size: .2rem;
        font-weight: 200; }
  .content .pic {
    width: .86rem;
    height: 1.14rem;
    background: url(../img/pic.png) no-repeat center left/0.66rem 0.64rem; }
  .content .wenzi {
    width: 4.97rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
    .content .wenzi h1 {
      font-size: .20rem; }
    .content .wenzi p {
      font-size: .18rem; }
    .content .wenzi span {
      font-size: .18rem; }
  .content .jindu {
    width: .59rem;
    height: 80%;
    display: flex;
    align-items: flex-end; }
    .content .jindu img {
      width: .25rem;
      height: .14rem; }
    .content .jindu span {
      font-size: .18rem; }

.foot {
  width: 100%;
  height: 1.25rem;
  background: #151c2b;
  display: flex;
  align-items: center;
  justify-content: center; }
  .foot p {
    width: 1.5rem;
    height: .49rem;
    background: url(../img/sd.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    line-height: .49rem; }
