@import 'mixin';
@import url(bass.css);

body{
  font-family: "宋体",sans-serif;
}

.status{
  width: 100%;
  height: 0.4rem;
  background: blue;
}
.header{
  width: 100%;
  height: .88rem;
  background: #29A6DC;
  .center{
    width: 93.6%;
    height: .88rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    .btn{
      align-self: center;
      width: .48rem;
      height: .48rem;
      background: url("../img/btn.png");
      background-size: cover;
    }
  }
}