@import 'mixin';
@import url(bass.css);

body{
  font-family: "宋体",sans-serif;
}

.status{
  width: 100%;
  height: 0.4rem;
  background: blue;
}
.header{
  width: 100%;
  height: .88rem;
  background: #29A6DC;
  .center{
    width: 93.6%;
    height: .88rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    .btn{
      align-self: center;
      width: .48rem;
      height: .48rem;
      background: url("../img/btn.png");
      background-size: cover;
    }
  }
}
.content{
  width: 100%;
  height: 100%;
  .center{
    width: 93.6%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    .read{
      width: 6.87rem;
      height: 5.19rem;
      background: #fff;
      margin: 0.11rem auto;
      border-radius: 0.08rem;
      box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
      .center{
        width: 6.22rem;
        height: 100%;
        border-top: 0.01rem solid #fff;
        .top{
          width: 100%;
          height: 2.67rem;
          background: #fff;
          margin-top: 0.57rem;
          .book{
            width: 2.51rem;
            height: 2.12rem;
            background: url("../img/book.png");
            background-size: cover;
            float: left;
          }
          .message{
            float: left;
            width: 3.33rem;
            height: 2.67rem;
            margin-left: 0.38rem;
            h1{
              padding-top: 0.17rem;
              font-size: 0.3rem;
              height: 0.34rem;
            }
            p{
              height: 0.3rem;
              font-size: 0.2rem;
              .big{
                font-size: 0.24rem;
                color: #3F3F3F;
              }
              .sma{
                font-size: 0.18rem;
                color: #444444;
              }
            }
            .star{
              width: 1.33rem;
              height: 0.23rem;
              background: url("../img/star.png");
              background-size: cover;
              padding: 0.05rem 0;
              box-sizing: border-box;
            }
            .nav{
              height: 0.6rem;
              font-size: 0.18rem;
              color: #c0c0c0;
              padding: 0.03rem 0;
              line-height: 0.2rem;
              overflow: hidden;
            }
            .green{
              text-align: center;
              line-height: 0.33rem;
              float: left;
              width: 0.86rem;
              height: 0.33rem;
              background: #67e479;
              margin-right: 0.15rem;
              margin-top: 0.05rem;
              color: #fff;
              font-size: 0.24rem;
              border-radius: 0.33rem;
            }
          }
        }
        .min{
          width: 100%;
          height: 0.98rem;
          display: flex;
          justify-content: space-around;
          a{
            width: 2.60rem;
            height: 0.70rem;
            display: flex;
            align-self: center;
            border-radius: 0.7rem;
            box-shadow:0 0 0.05rem #2a7eff;
            justify-content: space-around;
            line-height: 0.7rem;
            .sbk{
              margin-right: -0.5rem;
              align-self: center;
              width: 0.5rem;
              height: 0.5rem;
              font-style: normal;
              display: block;
              background: url("../img/book1.png");
              background-size: cover;
            }
            .mes{
              margin-right: -0.5rem;
              align-self: center;
              width: 0.5rem;
              height: 0.5rem;
              font-style: normal;
              display: block;
              background: url("../img/message.png");
              background-size: cover;
            }
            span{
              font-size: 0.24rem;
            }
          }
        }
        .bot{
          width: 100%;
          height: 0.9rem;
          display: flex;
          justify-content: center;
          .btn{
            width: 2.70rem;
            height: 0.70rem;
            background: #29a6dc;
            border-radius: 0.7rem;
            text-align: center;
            line-height: 0.7rem;
            margin-top: 0.05rem;
            display: flex;
            justify-content: space-around;
            .cir{
              float: left;
              width: 0.09rem;
              height: 0.09rem;
              background: #fff;
              border-radius: 50%;
              align-self: center;
            }
            span{
              color: #fff;
              font-size: 0.30rem;
            }
          }
        }
      }
    }
    .review{
      width: 100%;
      height: 100%;
      float: left;
      .top{
        height: 1.29rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("../img/pen.png") left center/0.8rem 0.8rem no-repeat;
        .p1{
          margin: 0.05rem 0;
          padding-left: 0.8rem;
          font-size: 0.3rem;
        }
        .p2{
          padding-left: 0.8rem;
          font-size: 0.2rem;
        }
      }
      .min{
        width: 100%;
        height: 100%;
        float: left;
        div{
          background: #FDFDFD;
        }
        div.one{
          width: 6.91rem;
          height: 1.59rem;
          box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
          margin-left: 0.02rem;
          margin-bottom: 0.2rem;
          float: left;
          border-radius: 0.06rem;
          .left{
            width: 1.34rem;
            height: 1.59rem;
            float: left;
            .tu{
              width: 1rem;
              height: 1rem;
              background: url("../img/one.png");
              background-size: cover;
              margin-top: 0.16rem;
              margin-left: 0.1rem;
            }
          }
          .right{
            width: 5.57rem;
            height: 1.59rem;
            float: left;
            .top{
              width: 5.2rem;
              height: 1.03rem;
              float: left;
              border-bottom: 1px dotted #a0a0a0;
              span{
                display: block;
                font-size: 0.21rem;
                color: #666666;
                margin-top: 0.2rem;
                line-height: 0.3rem;
                div{
                  width: 0.5rem;
                  height: 0.5rem;
                  background: url("../img/he.png") 0.5rem 0.5rem;
                  background-size: cover;
                  float: right;
                  margin-right: 2.6rem;
                }
              }
            }
            .bot{
              width: 5.2rem;
              height: 0.55rem;
              float: left;
              .b_l{
                width: 2.6rem;
                height: 0.55rem;
                float: left;
                display: flex;
                .ccc{
                  align-self: center;
                  width: 0.35rem;
                  height: 0.35rem;
                  border-radius: 50%;
                  box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
                  float: left;
                  position: relative;
                  img{
                    width: 0.17rem;
                    height: 0.16rem;
                    position: absolute;
                    @include center;
                  }
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
              .b_r{
                width: 2.6rem;
                height: 0.55rem;
                float: right;
                display: flex;
                justify-content: flex-end;
                .vvv{
                  align-self: center;
                  width: 0.35rem;
                  height: 0.35rem;
                  border-radius: 50%;
                  box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
                  float: right;
                  position: relative;
                  img{
                    width: 0.17rem;
                    height: 0.16rem;
                    position: absolute;
                    @include center;
                  }
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
            }
          }
        }
        div.two{
          width: 6.91rem;
          height: 1.59rem;
          box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
          margin-left: 0.02rem;
          margin-bottom: 0.2rem;
          float: left;
          border-radius: 0.06rem;
          .left{
            width: 1.34rem;
            height: 1.59rem;
            float: left;
            .tu{
              width: 1rem;
              height: 1rem;
              background: url("../img/two.png");
              background-size: cover;
              margin-top: 0.16rem;
              margin-left: 0.1rem;
            }
          }
          .right{
            width: 5.57rem;
            height: 1.59rem;
            float: left;
            .top{
              width: 5.2rem;
              height: 1.03rem;
              float: left;
              border-bottom: 1px dotted #a0a0a0;
              span{
                display: block;
                font-size: 0.21rem;
                color: #666666;
                line-height: 0.3rem;
              }
            }
            .bot{
              width: 5.2rem;
              height: 0.55rem;
              float: left;
              .b_l{
                width: 2.6rem;
                height: 0.55rem;
                float: left;
                display: flex;
                .ccc{
                  align-self: center;
                  width: 0.35rem;
                  height: 0.35rem;
                  border-radius: 50%;
                  box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
                  float: left;
                  position: relative;
                  img{
                    width: 0.17rem;
                    height: 0.16rem;
                    position: absolute;
                    @include center;
                  }
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
              .b_r{
                width: 2.6rem;
                height: 0.55rem;
                float: right;
                display: flex;
                justify-content: flex-end;
                .vvv{
                  align-self: center;
                  width: 0.35rem;
                  height: 0.35rem;
                  border-radius: 50%;
                  box-shadow:0 0 0.08rem rgba(0, 204, 204, .5);
                  float: right;
                  position: relative;
                  img{
                    width: 0.14rem;
                    height: 0.11rem;
                    position: absolute;
                    @include center;
                  }
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
            }
          }
        }
      }
      .bot{
        width: 100%;
        height: 0.6rem;
        float: left;
        display: flex;
        justify-content: center;
        .btn{
          align-self: center;
          width: 2.22rem;
          height: 0.39rem;
          background: #29a6dc;
          border-radius: 0.12rem;
          text-align: center;
          line-height: 0.39rem;
          display: flex;
          justify-content: space-around;
          .cir{
            align-self: center;
            width: 0.07rem;
            height: 0.07rem;
            background: #fff;
            border-radius: 50%;
          }
          span{
            font-size: 0.24rem;
            color: #fff;
          }
        }
      }
    }
    .mark{
      margin-top: 0.25rem;
      width: 100%;
      height: 100%;
      float: left;
      .top{
        height: 1.29rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("../img/ru.png") left center/0.8rem 0.8rem no-repeat;
        .p1{
          margin: 0.05rem 0;
          padding-left: 0.8rem;
          font-size: 0.3rem;
        }
        .p2{
          padding-left: 0.8rem;
          font-size: 0.2rem;
        }
      }
      .bot{
        div.last{
          width: 6.91rem;
          height: 1.59rem;
          margin-left: 0.02rem;
          margin-bottom: 0.2rem;
          float: left;
          .left{
            width: 1.34rem;
            height: 1.59rem;
            float: left;
            .tu{
              width: 1rem;
              height: 1rem;
              background: url("../img/ru.png");
              background-size: cover;
              margin-top: 0.16rem;
              margin-left: 0.1rem;
            }
          }
          .right{
            width: 5.57rem;
            height: 1.59rem;
            float: left;
            .topp{
              float: left;
              h1{
                color: #151c2b;
                font-size: 0.24rem;
                margin-top: 0.2rem;
                line-height: 0.3rem;
                padding-bottom: 0.1rem
              }
            }
            .min{
              float: left;
              span{
                color: #505050;
                font-size: 0.18rem;
              }
            }
            .bot{
              width: 5.2rem;
              height: 0.55rem;
              float: left;
              .b_l{
                width: 2.6rem;
                height: 0.55rem;
                float: left;
                display: flex;
                img{
                  align-self: center;
                  width: 0.17rem;
                  height: 0.16rem;
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
              .b_r{
                width: 2.6rem;
                height: 0.55rem;
                float: right;
                display: flex;
                justify-content: flex-end;
                img{
                  align-self: center;
                  width: 0.25rem;
                  height: 0.14rem;
                }
                span{
                  color: #999;
                  font-size: 0.16rem;
                  align-self: center;
                  padding-left: 0.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}