.header{
  .grzx{
    .left{
      background-image:url("../img/29.png");
      background-size: 0.1rem 0.17rem;
    }
    .middle{
      margin-right: 0.5rem;
    }
  }
}
.list{
  li:nth-child(1){
    .left{
      .logo{
        background-image: url("../img/46.png");
      }
      .bbsm{
        span{
          background-image: url("../img/47.png");
          background-size: contain;
        }
      }
    }
    .right{
      .tx_btn{
        width: 0.68rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a{
         margin-left: 0.3rem;
        }
      }
    }
  }
  li:nth-child(2){
    .left{
      .logo{
        background-image: url("../img/48.png");
      }
      .bbsm{
        span{
          background-image: url("../img/49.png");
        }
      }
    }
    .right{
      p{
        color: #333333;
        margin-right: 0.2rem;
      }
    }
  }
  li:nth-child(3){
    .left{
      .logo{
        background-image: url("../img/50.png");
      }
      .bbsm{
        span{
          background-image: url("../img/51.png");
        }
      }
    }
    .right{
      p{
        color: #333333;
        margin-right: 0.2rem;
      }
    }
  }
  li:nth-child(4){
    .left{
      .logo{
        background-image: url("../img/52.png");
      }
      .bbsm{
        span{
          background-image: url("../img/53.png");
        }
      }
    }
    .right{
      .xb_btn{
        width: 0.68rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        a{
          display: block;
          margin-left: 0.3rem;
        }
      }
    }
  }
}
.list2{
  margin-top: 0.2rem;
  height:1.8rem;
  li:nth-child(1){
    .left{
      .logo{
        background-image: url("../img/54.png");
      }
    }
    .right{
      p{
        margin-right: 0.2rem;
      }
    }
  }
  li:nth-child(2){
    border-bottom: 0px;
    .left{
      .logo{
        background-image: url("../img/56.png");
      }
    }
  }
}
.mask{
  width:100%;
  height:100vh;
  background: rgba(0,0,0,0.3);
  position: absolute;
  left:0;
  top:0;
  //visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  .setting_k{
    width:5.52rem;
    height:3.5rem;
    background: url("../img/74.png");
    background-size: cover;
    background-position: center;
    border-radius: 0.2rem;
    position: relative;
    .top{
      width:100%;
      height:0.82rem;
      display: flex;
      align-items: center;
      .left{
        width:0.54rem;
        height:0.54rem;
        background-image: url("../img/60.png");
        background-size: cover;
        background-position: center;
        margin-left: 0.4rem;
      }
      .right{
        margin-right: 0.3rem;
        p{
          color: #fff;
        }
      }
      i{
        display: block;
        width:2.58rem;
        height:0.11rem;
        background-image: url("../img/61.png");
        background-size: contain;
      }
    }
    .middle{
      width:80%;
      margin: 0 auto;
      li{
        height:0.83rem;
        border-bottom: 1px dashed #999999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-start;
        .left{
          width:0.3rem;
          height:0.3rem;
          background-image: url("../img/69.png");
          background-size: contain;
          p{
            color: #2A3441;
          }
        }
        .right{
          margin-left: 0.3rem;
          i{
            display: block;
            width:2.19rem;
            height:0.13rem;
            background-image: url("../img/70.png");
            background-size: cover;
          }
        }
      }
      li:nth-child(2){
        border-bottom: 0;
        .left{
          background-image: url("../img/71.png");
        }
        .right{
          i{
            background-image: url("../img/72.png");
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .qx{
      width:1.78rem;
      height:0.52rem;
      background: #28DD8B;
      border-radius: 0.4rem;
      position: absolute;
      bottom: -0.3rem;
      left: 50%;
      margin-left: -0.89rem;
      text-align: center;
      color: #fff;
      line-height: 0.52rem;
      cursor: pointer;
    }
  }
}
.mask_tx{
  visibility: hidden;
}
.mask_xb{
  visibility: hidden;
  .setting_k{
    .xbk{
      display: flex;
      margin-top: 0.8rem;
      justify-content: space-around;
      .xb{
        width:0.73rem;
        height:0.73rem;
        background-color: #28DD8B;
        border-radius: 50%;
        background-size: 0.36rem 0.34rem;
        background-repeat: no-repeat;
        background-position: center;
      }
      .xb:nth-child(1){
        background-image:url("../img/76.png") ;
        background-color: #fff;
        box-shadow: 1px 1px 10px #999;
      }
      .xb:nth-child(2){
        background-image:url("../img/75.png") ;
      }
    }
  }
}