@charset "UTF-8";
@import url(bass.css);
@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 350px) {
  html {
    font-size: 46.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 750px) {
  html {
    font-size: 100px; } }

body {
  font-size: 16px; }

body {
  font-family: "宋体",sans-serif; }

.status {
  width: 100%;
  height: 0.4rem;
  background: #29A6DC; }

.header {
  width: 100%;
  height: .88rem;
  background: #29A6DC; }
  .header .center {
    width: 93.6%;
    height: .88rem;
    margin: 0 auto;
    text-align: center; }
    .header .center .btn {
      float: left;
      width: .48rem;
      height: .48rem;
      background: url("../img/btn.png") center;
      background-size: cover;
      margin-top: 0.2rem; }
    .header .center .zi {
      width: 3rem;
      height: 100%;
      margin: 0 auto; }
      .header .center .zi .p1 {
        color: #fff;
        font-size: 0.36rem; }
      .header .center .zi .p2 {
        margin: 0 auto;
        width: 0.34rem;
        height: 0.03rem;
        background: url("../img/heng.png") 0.34rem 0.03rem;
        background-size: cover; }
      .header .center .zi .p3 {
        color: #a3e3ff;
        font-size: 0.18rem; }

.nav {
  width: 100%;
  height: 100%; }
  .nav .top {
    width: 100%;
    height: 1.29rem;
    display: flex;
    justify-content: center; }
    .nav .top .bjs {
      width: 94%;
      height: 100%;
      display: flex; }
      .nav .top .bjs .top {
        height: 1.29rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: url("../img/ru.png") left center/0.6rem 0.6rem no-repeat; }
        .nav .top .bjs .top .p1 {
          margin: 0.05rem 0;
          padding-left: 0.8rem;
          font-size: 0.3rem; }
        .nav .top .bjs .top .p2 {
          padding-left: 0.8rem;
          font-size: 0.2rem; }
  .nav .center1 {
    width: 100%;
    height: 1.19rem;
    border-bottom: 0.03rem dotted #999; }
    .nav .center1 .last {
      padding-left: 0.5rem;
      width: 6.91rem;
      height: 1.22rem;
      float: left; }
      .nav .center1 .last .left {
        width: 1rem;
        height: 100%;
        float: left; }
        .nav .center1 .last .left .tu {
          width: 0.8rem;
          height: 0.8rem;
          background: url("../img/ru.png");
          background-size: cover;
          margin-top: 0.16rem; }
      .nav .center1 .last .right {
        width: 5.57rem;
        height: 100%;
        float: left; }
        .nav .center1 .last .right .topp {
          width: 100%;
          height: 0.5rem;
          float: left;
          display: flex; }
          .nav .center1 .last .right .topp h1 {
            align-self: center;
            color: #151c2b;
            font-size: 0.24rem;
            margin-top: 0.2rem;
            line-height: 0.3rem;
            padding-bottom: 0.1rem; }
        .nav .center1 .last .right .min {
          width: 100%;
          height: 0.34rem;
          float: left;
          display: flex; }
          .nav .center1 .last .right .min span {
            align-self: center;
            color: #505050;
            font-size: 0.18rem; }
        .nav .center1 .last .right .bot {
          width: 5.2rem;
          height: 0.35rem;
          float: left;
          display: flex; }
          .nav .center1 .last .right .bot .b_l {
            align-self: center;
            width: 2.6rem;
            height: 0.55rem;
            float: left;
            display: flex; }
            .nav .center1 .last .right .bot .b_l img {
              align-self: center;
              width: 0.17rem;
              height: 0.16rem; }
            .nav .center1 .last .right .bot .b_l span {
              color: #999;
              font-size: 0.16rem;
              align-self: center;
              padding-left: 0.1rem; }
          .nav .center1 .last .right .bot .b_r {
            align-self: center;
            width: 2.6rem;
            height: 0.55rem;
            float: right;
            display: flex;
            justify-content: flex-end; }
            .nav .center1 .last .right .bot .b_r img {
              align-self: center;
              width: 0.25rem;
              height: 0.14rem; }
            .nav .center1 .last .right .bot .b_r span {
              color: #999;
              font-size: 0.16rem;
              align-self: center;
              padding-left: 0.1rem; }

.cha {
  width: 100%;
  height: 1.07rem;
  display: flex;
  justify-content: center; }
  .cha .chas {
    width: 94%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .cha .chas .cha1 {
      display: flex;
      width: 2.24rem;
      height: 0.41rem;
      background: #29A6DC;
      border-radius: 0.5rem;
      justify-content: space-around; }
      .cha .chas .cha1 .yuan {
        align-self: center;
        width: 0.06rem;
        height: 0.06rem;
        background: #fff;
        border-radius: 1rem; }
      .cha .chas .cha1 .zi {
        display: flex;
        align-self: center; }
        .cha .chas .cha1 .zi a {
          font-size: 0.2rem;
          color: #fff; }

.bj {
  width: 100%;
  height: 1.29rem;
  display: flex;
  justify-content: center; }
  .bj .bjs {
    width: 94%;
    height: 100%;
    display: flex; }
    .bj .bjs .top {
      height: 1.29rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: url("../img/pens.png") left center/0.6rem 0.6rem no-repeat; }
      .bj .bjs .top .p1 {
        margin: 0.05rem 0;
        padding-left: 0.8rem;
        font-size: 0.3rem; }
      .bj .bjs .top .p2 {
        padding-left: 0.8rem;
        font-size: 0.2rem; }

.ziti {
  width: 100%;
  height: 4.52rem;
  display: flex;
  justify-content: center; }
  .ziti .zitis {
    width: 94%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .ziti .zitis .zi1 {
      width: 6.9rem;
      height: 0.85rem;
      border-radius: 0.08rem;
      box-shadow: 0 0 0.1rem 0.01rem #f2f7ff; }
      .ziti .zitis .zi1 .left {
        width: 0.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi1 .left div {
          width: 0.07rem;
          height: 0.07rem;
          border-radius: 50%;
          float: left;
          margin-top: 0.15rem; }
        .ziti .zitis .zi1 .left .ddd {
          background: #D8E637;
          margin-left: 0.15rem; }
        .ziti .zitis .zi1 .left .ccc {
          background: #F45E40;
          margin-left: 0.05rem; }
      .ziti .zitis .zi1 .right {
        width: 6.40rem;
        height: 100%;
        float: left;
        display: flex; }
        .ziti .zitis .zi1 .right span {
          align-self: center;
          color: #666;
          font-size: 0.22rem; }
    .ziti .zitis .zi2 {
      width: 6.9rem;
      height: 1.15rem;
      border-radius: 0.08rem;
      box-shadow: 0 0 0.1rem 0.01rem #f2f7ff; }
      .ziti .zitis .zi2 .left {
        width: 0.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi2 .left div {
          width: 0.07rem;
          height: 0.07rem;
          border-radius: 50%;
          float: left;
          margin-top: 0.15rem; }
        .ziti .zitis .zi2 .left .ddd {
          background: #34BFDD;
          margin-left: 0.15rem; }
        .ziti .zitis .zi2 .left .ccc {
          background: #34DD5C;
          margin-left: 0.05rem; }
      .ziti .zitis .zi2 .right {
        width: 5.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi2 .right p {
          color: #666;
          font-size: 0.22rem;
          margin-top: 0.24rem; }
        .ziti .zitis .zi2 .right .b_l {
          width: 2.6rem;
          height: 0.55rem;
          margin-top: -0.3rem;
          margin-right: -0.3rem;
          float: right;
          display: flex;
          justify-content: flex-end; }
          .ziti .zitis .zi2 .right .b_l .ccc {
            align-self: center;
            width: 0.35rem;
            height: 0.35rem;
            border-radius: 50%;
            box-shadow: 0 0 0.15rem 0.02rem #f2f7ff;
            position: relative; }
            .ziti .zitis .zi2 .right .b_l .ccc img {
              width: 0.17rem;
              height: 0.16rem;
              position: absolute;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto; }
          .ziti .zitis .zi2 .right .b_l span {
            color: #999;
            font-size: 0.16rem;
            align-self: center;
            padding-left: 0.1rem; }
    .ziti .zitis .zi3 {
      width: 6.9rem;
      height: 0.85rem;
      border-radius: 0.08rem;
      box-shadow: 0 0 0.1rem 0.01rem #f2f7ff; }
      .ziti .zitis .zi3 .left {
        width: 0.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi3 .left div {
          width: 0.07rem;
          height: 0.07rem;
          border-radius: 50%;
          float: left;
          margin-top: 0.15rem; }
        .ziti .zitis .zi3 .left .ddd {
          background: #D8E637;
          margin-left: 0.15rem; }
        .ziti .zitis .zi3 .left .ccc {
          background: #F45E40;
          margin-left: 0.05rem; }
      .ziti .zitis .zi3 .right {
        width: 6.40rem;
        height: 100%;
        float: left;
        display: flex; }
        .ziti .zitis .zi3 .right span {
          align-self: center;
          color: #666;
          font-size: 0.22rem; }
    .ziti .zitis .zi4 {
      width: 6.9rem;
      height: 1.15rem;
      border-radius: 0.08rem;
      box-shadow: 0 0 0.1rem 0.01rem #f2f7ff; }
      .ziti .zitis .zi4 .left {
        width: 0.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi4 .left div {
          width: 0.07rem;
          height: 0.07rem;
          border-radius: 50%;
          float: left;
          margin-top: 0.15rem; }
        .ziti .zitis .zi4 .left .ddd {
          background: #34BFDD;
          margin-left: 0.15rem; }
        .ziti .zitis .zi4 .left .ccc {
          background: #34DD5C;
          margin-left: 0.05rem; }
      .ziti .zitis .zi4 .right {
        width: 5.5rem;
        height: 100%;
        float: left; }
        .ziti .zitis .zi4 .right p {
          color: #666;
          font-size: 0.22rem;
          margin-top: 0.24rem; }
        .ziti .zitis .zi4 .right .b_l {
          width: 2.6rem;
          height: 0.55rem;
          margin-top: -0.3rem;
          margin-right: -0.3rem;
          float: right;
          display: flex;
          justify-content: flex-end; }
          .ziti .zitis .zi4 .right .b_l .ccc {
            align-self: center;
            width: 0.35rem;
            height: 0.35rem;
            border-radius: 50%;
            box-shadow: 0 0 0.15rem 0.02rem #f2f7ff;
            position: relative; }
            .ziti .zitis .zi4 .right .b_l .ccc img {
              width: 0.17rem;
              height: 0.16rem;
              position: absolute;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto; }
          .ziti .zitis .zi4 .right .b_l span {
            color: #999;
            font-size: 0.16rem;
            align-self: center;
            padding-left: 0.1rem; }

.release {
  margin-top: 0.5rem;
  float: left;
  width: 100%;
  height: 4.78rem;
  padding: 0 0.25rem;
  box-sizing: border-box; }
  .release .theme {
    height: 0.6rem;
    margin-left: 0.14rem; }
    .release .theme .img {
      float: left;
      width: 0.55rem;
      height: 0.55rem;
      border-radius: 50%;
      background: url(../img/画板.png) no-repeat center/100%;
      margin-top: 0.1rem; }
    .release .theme .spanBox {
      float: left;
      height: 100%;
      padding-left: 0.15rem; }
    .release .theme span {
      display: block; }
    .release .theme span:nth-child(1) {
      font-size: 0.3rem;
      color: #333;
      position: relative; }
    .release .theme span:nth-child(2) {
      font-size: 0.18rem;
      color: #666; }
    .release .theme .decorate {
      position: absolute;
      bottom: 0.05rem;
      left: 4.2em;
      display: flex; }
      .release .theme .decorate li {
        width: 0.04rem;
        height: 0.04rem;
        border-radius: 50%;
        margin: 0 2px; }
      .release .theme .decorate li:nth-child(1) {
        background-color: #FE58AA; }
      .release .theme .decorate li:nth-child(2) {
        background-color: #58FEDD; }
      .release .theme .decorate li:nth-child(3) {
        background-color: #FFC63E; }
  .release .part {
    height: 3.75rem;
    width: 100%;
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between; }
  .release .part li {
    width: 2.14rem;
    height: 3.08rem;
    background: url(../img/bg.png) center/100% 100% no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .release .part li .img {
      width: 1.78rem;
      height: 2.38rem;
      background: url(../img/mao.png) center/contain no-repeat; }
    .release .part li span {
      display: block; }
    .release .part li span:nth-child(2) {
      font-size: 0.24rem;
      color: #333;
      margin-top: 0.2rem; }
    .release .part li span:nth-child(3) {
      font-size: 0.18rem;
      color: #999; }
